<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Sqquence Test">
    <classes>
      <class name="multipleclassexecution.login"/>
      <class name="multipleclassexecution.DashBoard"/>
      <class name="multipleclassexecution.Profile"/>


    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
